name: Create Release

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  DOCKER_IMAGE_NAME: schemacrawler/schemacrawler
  DOCKER_IMAGE_TAG: latest
  DOCKERFILE_PATH: ./Dockerfile

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:

# VALIDATE TAGS
    - id: validate-semver
      name: Validate tag against semantic versioning
      if: startsWith(github.ref, 'refs/tags/')
      shell: bash
      run: |
        SEMVER_PATTERN="^refs/tags/v(0|[1-9][0-9]*)\.(0|[1-9][0-9]*)\.(0|[1-9][0-9]*)(-[0-9A-Za-z-]+(\.[0-9A-Za-z-]+)*)?(\+[0-9A-Za-z-]+(\.[0-9A-Za-z-]+)*)?$"
        if [[ ! $GITHUB_REF =~ $SEMVER_PATTERN ]]
          then
            echo "Tag $GITHUB_REF does not follow semantic versioning"
            exit 1
          fi

# SETUP BUILD ENVIRONMENT
    - id: checkout-code
      name: Checkout code
      uses: actions/checkout@v6

# CREATE GITHUB RELEASE AND ADD ASSETS
    - id: create-release
      name: Create GitHub release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        name: ${{ github.ref_name }}
        draft: false
        prerelease: false
        body: |
          SchemaCrawler Action ${{ github.event.release.tag_name }} release at last commit ${{ github.sha }}
          See the change history at https://www.schemacrawler.com/changes-report.html
        generate_release_notes: true


# BUILD AND PUBLISH DOCKER IMAGE
    - id: setup-qemu
      name: Setup QEMU
      uses: docker/setup-qemu-action@v3

    - id: setup-buildx
      name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v3

    - id: docker-login
      name: Log into Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - id: validate-build-configuration
      name: Validate build configuration
      uses: docker/build-push-action@v6
      with:
        call: check
        file: ${{ env.DOCKERFILE_PATH }}
        context: .
        load: false
        push: false

    - id: meta
      name: Set up Docker metadata
      uses: docker/metadata-action@v5
      with:
        images: |
          ${{ env.DOCKER_IMAGE_NAME }}
        tags: |	
          type=semver,pattern={{version}},priority=930
          type=semver,pattern={{major}}.{{minor}},priority=920
          type=semver,pattern={{major}},priority=910
          type=sha
        labels: |
          maintainer=Sualeh Fatehi <sualeh@hotmail.com>
          org.opencontainers.image.authors=Sualeh Fatehi <sualeh@hotmail.com>
          org.opencontainers.image.vendor=SchemaCrawler
          org.opencontainers.image.licenses=(EPL-2.0)
          org.opencontainers.image.url=https://www.schemacrawler.com/
          org.opencontainers.image.documentation=https://github.com/schemacrawler/SchemaCrawler-AI-MCP-Server-Usage

    - id: push-docker-image
      name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        call: build
        file: ${{ env.DOCKERFILE_PATH }}
        context: .
        cache-from: type=gha
        cache-to: type=gha,mode=max
        platforms: |-
          linux/amd64
          linux/arm64
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        annotations: ${{ steps.meta.outputs.annotations }}
        sbom: true
        provenance: true
        load: false
        push: true
