name: Create Release

on:
  push:
    branches-ignore:
      - '*'
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
      - v[0-9]+.[0-9]+.[0-9]+-[A-Z]

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:

# SETUP BUILD ENVIRONMENT
    - id: checkout-code
      name: Checkout code
      uses: actions/checkout@v2

# CREATE GITHUB RELEASE AND ADD ASSETS
    - id: create-release
      name: Create GitHub release
      uses: actions/create-release@latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: ${{ github.ref }}
        body: |
          SchemaCrawler Action for GitHub Actions          
          SchemaCrawler ${{ github.ref }} release at last commit ${{ github.sha }}
          See the change history at https://www.schemacrawler.com/changes-report.html
        draft: false
        prerelease: false

# PUBLISH IMAGE TO DOCKER HUB
    - id: docker-meta
      name: Docker meta
      uses: crazy-max/ghaction-docker-meta@v1
      with:
        images: schemacrawler/schemacrawler-action

    - id: buildx
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - id: cache-layers
      name: Cache Docker layers
      uses: actions/cache@v2
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-

    - id: login-docker-hub
      name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - id: docker-build-push-docker-hub
      name: Build and push
      uses: docker/build-push-action@v2
      with:
        context: ./
        file: ./Dockerfile
        builder: ${{ steps.buildx.outputs.name }}
        push: true
        tags: |
          schemacrawler/schemacrawler-action:latest
          schemacrawler/schemacrawler-action:v16.17.4
          schemacrawler/schemacrawler-action:${{ github.sha }}
        labels: |
          ${{ steps.docker-meta.outputs.labels }}
          org.opencontainers.image.url=https://www.schemacrawler.com
          org.opencontainers.image.source=https://github.com/schemacrawler/SchemaCrawler-Action
        cache-from: type=local,src=/tmp/.buildx-cache
        cache-to: type=local,dest=/tmp/.buildx-cache
